body{
    background: rgb(0,36,13);
    background: linear-gradient(161deg, rgba(0,36,13,1) 0%, rgba(9,121,9,1) 35%, rgba(1,255,0,1) 100%);

}

.container{
    background-color: #fff;
    display: flex;
    width: 1215px;
    height: 714px

}

.container-logo{
    
}